version: 2.1

jobs:
  build:
    docker:
      - image: alexfalkowski/go:2.105
    working_directory: ~/tausch
    steps:
      - checkout:
          method: blobless
      - run: git submodule sync
      - run: git submodule update --init
      - run: make source-key
      - restore_cache:
          name: restore go cache
          keys:
            - tausch-go-cache-{{ checksum "go.sum" }}-{{ checksum "~/.go-version" }}-{{ checksum ".source-key" }}
            - tausch-go-cache-
      - run: make clean
      - run: make dep
      - save_cache:
          name: save go cache
          key: tausch-go-cache-{{ checksum "go.sum" }}-{{ checksum "~/.go-version" }}-{{ checksum ".source-key" }}
          paths:
            - ~/go/pkg/mod
      - restore_cache:
          name: restore go build cache
          keys:
            - tausch-go-build-cache-{{ checksum "go.sum" }}-{{ checksum "~/.go-version" }}-{{ checksum ".source-key" }}
            - tausch-go-build-cache-
      - restore_cache:
          name: restore go lint cache
          keys:
            - tausch-go-lint-cache-{{ checksum "go.sum" }}-{{ checksum "~/.go-lint-version" }}-{{ checksum ".source-key" }}
            - tausch-go-lint-cache-
      - run: make clean
      - run: make lint
      - save_cache:
          name: save go lint cache
          key: tausch-go-lint-cache-{{ checksum "go.sum" }}-{{ checksum "~/.go-lint-version" }}-{{ checksum ".source-key" }}
          paths:
            - ~/.cache/golangci-lint
      - run: make sec
      - run: make build
      - run: make specs
      - save_cache:
          name: save go build cache
          key: tausch-go-build-cache-{{ checksum "go.sum" }}-{{ checksum "~/.go-version" }}-{{ checksum ".source-key" }}
          paths:
            - ~/.cache/go-build
      - run: make coverage
      - store_test_results:
          path: test/reports
      - store_artifacts:
          path: test/reports
      - run: make codecov-upload
    resource_class: arm.large
  version:
    docker:
      - image: alexfalkowski/release:5.46
    working_directory: ~/tausch
    steps:
      - checkout:
          method: blobless
      - run: git submodule sync
      - run: git submodule update --init
      - run: version
      - run: package
    resource_class: arm.large

workflows:
  tausch:
    max_auto_reruns: 3
    jobs:
      - build
      - version:
          context: gh
          requires:
            - build
          filters:
            branches:
              only: master
